body {
  margin: 0px;
  padding: 0px;
  font-size: 100%;
  font-family: Arial, sans-serif;
  font-size: 1em;
  background-color: #333333;
  background-image: url('../images/1367889277944.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
#More {
  position: absolute;
  right: 30px;
  top: 50px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 0px solid #ccc;
  font-size: 2em;
  color: #ffffff;
  cursor: pointer;
  z-index: 11;
}
#More .icon-arrow-right {
  display: none;
}
#Menu {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 200px;
  height: 100%;
  min-height: 800px;
  border: 0px solid #ccc;
  z-index: 2;
  color: #ffffff;
  background-color: #BE213E;
  display: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
#Menu .cell {
  width: 100%;
  height: 80px;
  border: 0px solid #ccc;
  margin: 1px 1px;
  line-height: 86px;
  margin: 20px auto;
  background-color: !important;
  text-align: center;
  font-size: 2.5em;
  cursor: pointer;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
#Menu .cell a {
  text-decoration: none;
  color: #ffffff;
}
#Cont {
  width: 880px;
  height: 600px;
  border: 0px solid #ccc;
  background-color: !important;
  line-height: 100px;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /*ff3738  #41bb19 #1ba1e2 1570a6 e66d1c #9b59bb  #77b201  #ffbb00  007647*/

}
#Cont .cell {
  width: 86px;
  height: 86px;
  border: 0px solid #ccc;
  float: left;
  margin: 1px 1px;
  line-height: 86px;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
#Cont .cell .box {
  width: 80px;
  height: 80px;
  margin: auto;
  border: 0px solid #ccc;
}
#Cont .cell .box .list {
  width: 68px;
  height: 26px;
  line-height: 26px;
  text-align: right;
  margin: 1px auto;
  border: 0px solid #ccc;
  padding-top: 5px;
  padding-right: 10px;
}
#Cont .cell .box .vlist {
  height: 40px;
  line-height: 40px;
  text-align: center;
}
#Cont .cell .box .vlist2 {
  height: 100px;
  line-height: 100px;
  text-align: center;
}
#Cont .cell .box .list2 {
  width: 156px;
}
#Cont .cell .box .list4 {
  width: 332px;
}
#Cont .cols {
  height: 174px;
}
#Cont .cols .cols2 {
  height: 168px;
}
#Cont .cell2 {
  width: 174px;
}
#Cont .cell2 .box2 {
  width: 168px;
}
#Cont .cell4 {
  width: 350px;
}
#Cont .cell4 .box4 {
  width: 344px;
}
#Cont .color1 {
  background-color: #ff3738;
}
#Cont .color2 {
  background-color: #41bb19;
}
#Cont .color3 {
  background-color: #178ec7;
}
#Cont .color4 {
  background-color: #1570a6;
}
#Cont .color5 {
  background-color: #e66d1c;
}
#Cont .color6 {
  background-color: #81499c;
}
#Cont .color7 {
  background-color: #77b201;
}
#Cont .color8 {
  background-color: #fe781e;
}
#Cont .color9 {
  background-color: #007647;
}
